@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(80deg, #780206, #061161);
    font-family: poppins;
}

nav {
   
    width: 100%;
    padding-top: 40px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0 ;
    z-index: 2;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type:none ;
    text-align: center;
    align-items: center;
    
    font-size: 1rem;
    cursor: pointer;
    transition: all ease-in 200ms;

}

li {
    text-decoration: none;
    color: aliceblue;   
    
}

nav li a {
    display: block;
    padding: .5em 2rem;
    margin: auto 10px ;
    
    color: white;
    position: relative;
    font-weight: 100;
    text-shadow: 2px 2px 4px #000;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: .2em;
    transition: all ease-in-out 0.5s;
    transform-origin:center;
}

nav li a:hover {
    color: #fff;  
    background-color: #614385; 
}

.foot {
    margin-top: 50px;
    width: 100%;
    background:#000;
    padding-bottom: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
  }
  
  .foot-sitemap{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100%;
  }
  
  .foot-sitemap-others ul{
    padding-left: 4px;
    line-height: 45px;
    list-style-type: none;
  }
  
  .foot-sitemap-others ul li a{
    display: block;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 2px 2px 5px #000;
    transition: all ease-in-out 0.4s;
  }
  
  
  .foot-sitemap-others ul li a:hover{
    color: #614385;
  }
  
  
  
  .foot-sitemap-category ul{
    display: block;
    padding-left: 4px;
    line-height: 45px;
    list-style-type: none;
  }
  
  .foot-sitemap-category ul li a{
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 2px 2px 5px #000;
    transition: all ease-in-out 0.4s;
  }
  
  .foot-sitemap-category ul li a:hover{
    color: #614385;
  }
  
  
  
  
  .foot-sitemap-contact ul {
    margin-bottom: 27px;    
    font-size: 1rem;
    text-shadow: 2px 2px 5px #000;
    text-align: justify;
  }
  
  .foot-sitemap-contact ul li {
    list-style-type: none;
  }
  
  .foot-sitemap-contact ul li p{
    line-height: 40px;
    font-size: 1rem;
  }
  
  .copyright  {
    border-top: #fff 2px solid;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #000;
    font-size: 12px;
    color: #fff;
    text-align: center;
  }


